schema_index.rnc

start = index
index = element index {persons, titles, genres, places}
persons = element persons {person_list+}
person_list = element person {role, surname, forename, gender, nationality?,id}
role = attribute role {text}
surname = attribute surname {text}
forename = attribute forename {text}
gender = attribute gender {"f" | "m"}
nationality = attribute nationality {text}
id = attribute xml:id { xsd:ID }
titles = element titles {title_list+}
title_list = element title {type, origin, era, medium, year, id}
type = attribute type {text}
origin = attribute origin {text}
era = attribute era {text}
medium = attribute medium {text}
year = element year {xsd:int}
genres = element genres {genre_list+}
genre_list = element genre {text}
places = element places {place_list+}
place_list = element place {placeType, location, id} 
placeType = attribute placeType {text}
location = attribute location {text}